services:
  go-app:
    build: .
    container_name: go-app
    ports:
      - "8080:8080"
    env_file:
      - .env
    networks:
      - vault-app

networks:
  vault-app:
    external: true
    name: vault-app